<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
	<h1>Welcome to {{ title }}!</h1>
</div>
<h2>List of characters</h2>
<div>

	<app-characters></app-characters>

	<h1>Parte de despues REST</h1>
	<ul>
		<li *ngFor="let character of data.characters"><span>{{character.firstName}}</span></li>
	</ul>
	<br /> <br /> <br /> <br /> <br />
	<ng-container *ngFor="let character of data.characters">
	<p>ID: {{character.id}}</p>
	<p>FirstName: {{character.firstName}}</p>
	<p>LastName: {{character.lastName}}</p>
	<p>Description: {{character.description}}</p>
	<br />
	</ng-container>
</div>